/* Universal Styles */

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/* header */

.logo {
    
    display: flex;
    flex-grow: 1; 
    padding: 8px 0px 8px 10px;
    opacity: 0.9;
    
    color: seashell;
    height: 50px;
    
    
}

a {
    color: seashell;
}


nav span {
    display: inline-block;
   
    
    padding: 20px;
    padding-right: 20px;
    font-family: Helvetica;
    font-size: 22px;
    
    text-decoration: underline;
     
    
 

    
}

header {
    display: flex;
    
    
    
    width: 1232px;
    height: 69px;
    border-bottom-color: seashell;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    
    
    
}

header nav { 
    padding-right: 10px;
    
}


/* body sectiom */

    
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1232px;
    
}

.columnmain {
    padding-left: 20px;

}

.topstory {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 700px;
    justify-content: center;
    background-image: url("../images/img-mission-background.jpg");
    align-items: center;
    background-repeat: no-repeat;
    color: seashell;
}

.topstorymiddle {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 100px;
    justify-content: center;
    background-color: black;
    align-items: center;
    padding: 5px 0;
    vertical-align: center;
    line-height: .009;
    
   
}

h2 { font-size: 1.5em};
   
h4 { font-size: 1.0em};



/* Middle Section */


.middlestory {
    
    /* width: 1000px; */
  
    
}

.middlestorycontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1000px; 
    

    
    
    
    
}

.middlestorycontent img {
    
    max-width: 300px;
    max-height: 200px;
    
}

.middlestorycontent h4 {
    display: flex;
    padding-bottom: 10px;
}


.bottomstory {

}

/* top banner */



