/* Universal Styles */

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/* header */

.logo {
    
    display: flex;
    flex-grow: 1; 
    padding: 8px 0px 8px 10px;
    opacity: 0.9;
    
    color: seashell;
    height: 50px;
    
    
}

a {
    color: seashell;
}


nav span {
    display: inline-block;
   
    
    padding: 20px;
    padding-right: 20px;
    font-family: Helvetica;
    font-size: 22px;
    
    text-decoration: underline;
     
    
 

    
}

header {
    display: flex;
    
    
    
    width: 1232px;
    height: 69px;
    border-bottom-color: seashell;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    
    
    
}

header nav { 
    padding-right: 10px;
    
}


/* body sectiom */

    
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1232px;
    
}

.columnmain {
    padding-left: 20px;

}

.topstory {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 700px;
    justify-content: center;
    background-image: url("../images/img-mission-background.jpg");
    
    background-repeat: no-repeat;
    color: seashell;
}

.topstorymiddle {
    display: inline-flex;
    width: 1200px;
    height: 100px;
    align-content: center;
    background-color: black;
    
}

.middlestory {

}
.bottomstory {

}

/* top banner */

.topstory span {
    
}
.topstory p {
    
}